NODE_ENV=development
PORT=3000
FRONTEND_ORIGIN=http://localhost:8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=barbearia_maraca
JWT_SECRET=
JWT_EXPIRES_IN=1d
BARBEIRO_EMAIL=
BARBEIRO_SENHA_INICIAL=
